.text-pre-wrap {
  white-space: pre-wrap;
}

div.content-width{
  max-width: 1200px;
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  min-width: 260px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.centered {
  display: inline-block;
  margin: auto;
}

.flex-container {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}